/* ******************************************************************************************************************************** */
/* ***************************************************************************************  BANNER & HEADINGS */
/* ******************************************************************************************************************************** */
body {
  overflow-x: hidden;
  background-color: rgba(30, 115, 172, 0.2);
  /* background-color: #0b132b; */
  background-color: rgba(11, 19, 43, 1);
  background-image: linear-gradient(
      to right bottom,
      rgba(30, 115, 172, 0.25),
      rgba(142, 57, 153, 1)
    ),
    url(images/background2.jpg);
  background-position: top;
  background-size: contain;
  /* background-repeat: no-repeat; */
  text-shadow: 0.05rem 0.05rem 0.1rem rgba(0, 0, 0, 0.3);
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  z-index: 1;
}

@media (max-width: 1300px) {
  body {
    background-size: auto;
  }
}

#heading {
  margin-top: 3vw;
  padding: 3vw;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1.5rem;
}

@media (max-width: 1199px) {
  #heading {
    width: 75%;
  }
}

@media (max-width: 700px) {
  #heading {
    width: 100%;
  }
}

h1 {
  text-shadow: 0.1rem 0.2rem 0.5rem rgba(0, 0, 50, 1);
  color: white;
  /* position: relative; */
  /* top: 25%; */
  /* font-weight: 700 !important; */
}
@media (max-width: 700px) {
  h1 {
    top: 35%;
  }
}
.link-projects {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  /* position: relative; */
  top: 35%;
  /* left: calc(50vw - 93.86px); */
  text-shadow: 0.06rem 0.07rem 0.02rem rgba(150, 180, 255, 1);
  transition: transform 0.2s;

  width: 70vw;
  max-width: 300px;
}
@media (max-width: 700px) {
  .link-projects {
    top: 45%;
  }
}
.link-projects:hover {
  background-color: white;
  transform: translateY(-0.2em);
  box-shadow: 0.1rem 0.2rem 0.2rem rgba(255, 255, 255, 0.5);
}
.link-projects:active {
  background-color: white !important;
}

.projects-title {
  margin-bottom: 5vw;
  font-weight: 700;
  letter-spacing: 1.5vw;
  color: white;
  text-shadow: 0.1rem 0.2rem 0.5rem rgba(0, 0, 50, 1);
}

/* ******************************************************************************************************************************** */
/* ***************************************************************************************  FLIP CARDS BASIC */
/* ******************************************************************************************************************************** */

.flip-card {
  background-color: transparent;
  width: 30rem;
  height: 18rem;
  margin: 2rem;
  perspective: 2000px; /* 3D effect */
  margin-bottom: 50px;
  font-size: 0.9rem;
  display: inline-block;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.55s ease-out;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  background-color: rgba(30, 115, 172, 0);
}

.flip-card-front {
  border: none;
}

.flip-card-back {
  transform: rotateY(180deg);
  border: none;
}

/* ******************************************************************************************************************************** */
/* ***************************************************************************************  FLIP CARD STYLES */
/* ******************************************************************************************************************************** */

.flip-card-front .card-body {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transform: skew(0, -2deg);
  border: solid rgba(0, 0, 0, 0.8) 4px;
  border-radius: 8px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.85);
}

.flip-card-back .card-body {
  width: 100%;
  height: 100%;
  padding-top: 2.5%;
  padding-bottom: 7%;
  transform: skew(0, 2deg);
  background-image: linear-gradient(
      to right bottom,
      rgba(30, 115, 172, 0.6),
      rgba(142, 57, 153, 0.7)
    ),
    url(images/banner2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  border: solid rgba(0, 0, 0, 0.65) 2px;
  border-radius: 8px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.85);
}
.brands {
  transform: skew(0, -2deg);
}
.proj-p {
  color: white;
  transform: skew(0, -2deg);
  margin: 0;
  padding: 0;
}
.proj-p strong {
  display: block;
}
.links {
  transform: skew(0, -2deg);
  padding: 0;
}
.link-visit {
  margin: 7px;
  font-size: inherit;
  background-color: rgba(142, 57, 153, 0.8);
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
.link-visit:hover {
  background-color: rgba(142, 57, 153, 1);
  color: white;
  transform: translateY(-0.2em);
  box-shadow: 0.1rem 0.2rem 0.2rem rgba(255, 255, 255, 0.5);
}
.link-visit:active {
  background-color: rgba(142, 57, 153, 1) !important;
  color: white !important;
}
.link-code {
  margin: 7px;
  font-size: inherit;
  background-color: rgba(30, 115, 172, 0.8);
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
.link-code:hover {
  background-color: rgba(30, 115, 172, 1);
  color: white;
  transform: translateY(-0.2em);
  box-shadow: 0.1rem 0.2rem 0.2rem rgba(255, 255, 255, 0.5);
}
.link-code:active {
  background-color: rgba(30, 115, 172, 1) !important;
  color: white !important;
}

/* ******************************************************************************************************************************** */
/* ***************************************************************************************  INDIVIDUAL PROJECT STYLES */
/* ******************************************************************************************************************************** */

#projects {
  position: relative;
}

/* Bytesized Book Reviews */
.bytesized-reviews-front {
  background-image: url("images/bytesized-reviews-zoom.png");
}
.bytesized-reviews-back {
  padding-top: 2rem !important;
}

/* Photography Website */
.photography-front {
  background-image: url("images/photography.png");
}

/* Shopping List */
.shopping-front {
  background-image: url("images/shopping-list.png");
}

/* Finance */
.card-body.finance-front {
  background-image: url("images/finance.png");
}

/* Speller */
.cs50-speller-front {
  background-image: url("images/CS50Speller.png");
}

/* ******************************************************************************************************************************** */
/* ***************************************************************************************  PROJECTS FOR SMALLER DEVICES */
/* ******************************************************************************************************************************** */

hr {
  color: white;
}

.projects-small-device {
  display: none;
}

@media (max-width: 1199px) {
  .flip-card {
    display: none;
  }
  .projects-small-device {
    display: flex;
  }
  .phone {
    display: flex;
  }
  .phone img {
    /* display: block; */
    border: 8px solid rgba(0, 0, 0, 0.85);
    border-radius: 4vh;
    width: 22vw;
    box-shadow: 0.8rem 0.8rem 2rem black;
  }
  .links {
    transform: none;
  }
  .link-visit,
  .link-code {
    font-size: 0.8rem;
    width: 45%;
  }
  .link-visit {
    margin-left: 0;
  }
  .link-code {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .projects-title {
    margin-bottom: 10vw;
  }
  .phone img {
    width: 23vw;
  }
}

@media (max-width: 767px) {
  .projects-title {
    margin-bottom: 15vw;
    /* margin-left: 15vw; */
    /* margin-right: 15vw; */
    /* letter-spacing: 1vw; */
  }
  .phone {
    margin-bottom: 4rem;
  }
  .phone img {
    /* display: block; */
    border: 7px solid rgba(0, 0, 0, 0.85);
    border-radius: 3vh;
    width: 50vw;
    box-shadow: 0.8rem 0.8rem 2rem black;
  }

  .project-description p,
  .project-description .links {
    margin-bottom: 2vw !important;
    margin-left: 5vw !important;
    margin-right: 5vw !important;
  }

  .site-by,
  .github-link {
    font-size: 0.7rem;
  }
}

.projects-small-device {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  border-radius: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.project-description > h2,
.project-description > p {
  color: white;
}

/* ******************************************************************************************************************************** */
/* ***************************************************************************************  BIG BRAND LOGOS */
/* ******************************************************************************************************************************** */

@media (min-width: 1199px) {
  .container-custom {
    max-width: 1140px;
  }
}

.brand-big {
  /* padding: 1rem; */
}
.img-brand-big {
  width: 50%;
  height: auto;
  padding: 0;
  filter: drop-shadow(0.02rem 0.02rem 0.1rem white);
}
.img-brand-big:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}
#img-react-big {
  width: 70%;
}
@media (max-width: 991px) {
  .img-brand-big {
    width: 80%;
  }
  #img-react-big {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .img-brand-big {
    width: 100%;
  }
}
@media (max-width: 500px) {
  #col-html-big,
  #col-css-big,
  #col-js-big {
    display: none;
  }
}

/* ******************************************************************************************************************************** */
/* ***************************************************************************************  TECHNOLOGIES LIST */
/* ******************************************************************************************************************************** */

#tech-list-banner {
  padding-top: 10%;
  padding-bottom: 10%;
  transform: skewY(-4deg);
  margin-top: 5rem;
  margin-bottom: 8rem;
  background: linear-gradient(
    to right bottom,
    rgba(142, 57, 153, 0.8),
    rgba(30, 115, 172, 0.6)
  );
}
#tech-list-row {
  transform: skewY(4deg);
}
.tech-list-col {
  background-color: rgba(255, 255, 255, 0.8);
  transition: transform 0.2s;
}
/* @media (max-width: 1200px) {
  .tech-list-col {
    max-width: 20%;
    margin: 70px !important;
  }
} */
.tech-list-col img {
  max-width: 25%;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  opacity: 0.7;
}
.tech-list-col:hover {
  transform: translateY(-0.5em);
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.5);
}
.list-group-item {
  color: #777;
}
#database-list {
  padding-top: 20.545px;
  padding-bottom: 20.545px;
}

li {
  border: none !important;
  background: none !important;
}

/* ******************************************************************************************************************************** */
/* ***************************************************************************************  FOOTER */
/* ******************************************************************************************************************************** */

.footer {
  margin: 1rem;
  margin-top: 4rem;
  padding-top: 1.5rem;
  background-color: rgba(50, 50, 150, 0.5);
}
.footer-nav {
  list-style-type: none;
  border-top: solid white 2px;
  padding: 1rem;
}
.github-link {
  color: white;
  text-decoration: none;
  transition: all 0.2s;
}
.github-link:hover {
  transform: rotate(5deg) scale(1.2);
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}
.site-by {
  color: white;
}
